.highlight-green span
  position: relative
  display: inline-block
  z-index: 1
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 100%
    z-index: -1
    display: inline-block
    height: 28px
    background-color: rgba($green, 0.5)
    transition: 0.4s all ease-in-out
  &.on
    &::after
      right: 0
  &:last-child::after
    transition-delay: 0.2s

.highlight-purple
  position: relative
  display: inline-block
  z-index: 1
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: -3px
    right: -3px
    z-index: -1
    display: inline-block
    height: 15px
    background-color: rgba($light-purple, 1)


.btn-hover
  position: relative
  z-index: 0
  display: inline-block
  padding: 0.876em 1.5em
  border: 2px solid #fff
  margin-bottom: 1.6rem
  transition: 0.3s color ease-in-out
  &::after
    content: ''
    position: absolute
    z-index: -1
    top: 0
    bottom: 0
    left: 0
    right: 100%
    background-color: #fff
    transition: 0.3s all ease-in-out
  &:hover
    color: $purple
    &::after
      right: 0
